[Unit]
Description=humstack-api: humstack api server
Documentation=https://github.com/ophum/humstack

[Service]
ExecStart=/usr/bin/humstack-apiserver --listen-address=0.0.0.0 --listen-port=8080
WorkingDirectory=/var/lib/humstack
Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=process
TasksMax=infinity

[Install]
WantedBy=multi-user.target

