apiServerAddress: localhost
apiServerPort: 8080
agentMode: All  # All, Core, System
limitMemory: 8G
limitVcpus: 8000m

blockStorageAgentConfig:
  blockStorageDirPath: ./blockstorages
  imageDirPath: ./images
  downloadAPI:
    advertiseAddress: 192.168.10.3
    listenAddress: 0.0.0.0
    listenPort: 8082
networkAgentConfig:
  vxlan:
    devName: enp0s8
    group: 239.0.0.1
  vlan:
    devName: enp0s8

imageAgentConfig:
  blockStorageDirPath: ./blockstorages
  imageDirPath: ./images
  downloadAPI:
    advertiseAddress: 192.168.10.3
    listenPort: 8083
