apiServerAddress: localhost
apiServerPort: 8080
limitMemory: 8G
limitVcpus: 8000m

blockStorageAgentConfig:
  blockStorageDirPath: ./blockstorages
  imageDirPath: ./images
  downloadAPI:
    advertiseAddress: 10.200.5.111
    listenAddress: 0.0.0.0
    listenPort: 8082
networkAgentConfig:
  vxlan:
    devName: eth0
    group: 239.0.0.1
  vlan:
    devName: enp0s8

imageAgentConfig:
  blockStorageDirPath: ./blockstorages
  imageDirPath: ./images
  downloadAPI:
    advertiseAddress: 10.200.5.111
    listenPort: 8083
